<div class="bg-slate-800 rounded-xl border border-slate-700 shadow-xl overflow-hidden">
  <div class="p-4 bg-slate-800/50 border-b border-slate-700 flex justify-between items-center">
    <h3 class="font-semibold text-slate-200">
      {{ 'PROFILE.TEAM_RESERVATIONS_HEADING' | transloco }}
    </h3>
  </div>

  <div class="overflow-x-auto">
    @if (store.reservations().length > 0) {
      <table class="w-full text-left border-collapse">
        <thead>
          <tr
            class="bg-slate-900/50 border-b border-slate-700 text-slate-400 text-xs font-semibold uppercase tracking-wider"
          >
            <th class="py-3 px-6">{{ 'PROFILE.TABLE_INDEX' | transloco }}</th>
            <th class="py-3 px-6">{{ 'PROFILE.TABLE_ROOM' | transloco }}</th>
            <th class="py-3 px-6">{{ 'PROFILE.TABLE_DATE' | transloco }}</th>
            <th class="py-3 px-6">{{ 'PROFILE.TABLE_WHO' | transloco }}</th>
            <th class="py-3 px-6">{{ 'PROFILE.PRICE' | transloco }}</th>
            <th class="py-3 px-6">{{ 'PROFILE.STATUS' | transloco }}</th>
            <th class="py-3 px-6">{{ 'PROFILE.TABLE_CANCEL' | transloco }}</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-slate-700 text-sm">
          @for (res of store.reservations(); track res.id; let idx = $index) {
            <tr class="hover:bg-slate-700/30 transition">
              <td class="py-4 px-6 text-slate-500 font-mono">{{ idx + 1 }}</td>
              <td class="py-4 px-6">
                <span class="px-2 py-1 rounded text-slate-300 text-s border border-slate-700">
                  {{ textFormatingTool.getRoomName(res) }}
                </span>
              </td>
              <td class="py-4 px-6 font-mono text-slate-300 text-s">
                {{ textFormatingTool.formatDuration(res) }}
              </td>
              <td class="py-4 px-6 text-slate-400">{{ textFormatingTool.reservedByLabel(res) }}</td>
              <td class="py-4 px-6 text-slate-400">*cena*</td>
              <td class="py-4 px-6 text-slate-400">{{ textFormatingTool.getStatusText(res) }}</td>

              <td class="py-4 px-6">
                <button
                  (click)="
                    facade.updateReservationsStatus(ReservationStatus.REQUESTED_CANCELLATION)
                  "
                  [disabled]="!isCancellationPossible(res)"
                  class="text-white text-s bg-red-700 hover:bg-red-600 px-3 py-1.5 rounded transition"
                  [ngClass]="{
                    'opacity-50 cursor-not-allowed': !isCancellationPossible(res),
                  }"
                >
                  {{ getCancelButtonLabel(res) }}
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <div class="p-12 text-center text-slate-500">
        <p class="text-lg">{{ 'PROFILE.NO_RESERVATIONS' | transloco }}</p>
      </div>
    }
  </div>
</div>
