<div class="min-h-screen bg-slate-900 text-slate-100 flex flex-col md:flex-row antialiased">
  <app-user-sidebar class="shrink-0"></app-user-sidebar>

  <main class="flex-1 p-4 md:p-8 max-w-7xl mx-auto w-full space-y-6">
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

@if (store.confirmMarkReservationAsRequestCancel() && store.selectedReservation(); as res) {
  <app-confirmation-popup
    [titleText]="getTitleText()"
    [bodyText]="getBodyText()"
    (ok)="openRequestCancellation(res)"
    (cancel)="facade.closeModals()"
  ></app-confirmation-popup>
}

@if (store.isAddOrganizationModalActive()) {
  <app-add-organization-modal></app-add-organization-modal>
}

@if (store.popupConfirmationActive() && store.isAddOrganizationModalActive()) {
  <app-success-popup [titleText]="getTitleText()"></app-success-popup>
}

@if (store.selectedOrganization(); as org) {
  @if (store.isOrganizationDetailsModalActive()) {
    <app-organization-details-modal></app-organization-details-modal>
  }

  @if (store.isModalAddMemberActive()) {
    <app-add-user-into-organization-modal [type]="'member'"></app-add-user-into-organization-modal>
  }

  @if (store.isModalAddOwnerActive()) {
    <app-add-user-into-organization-modal [type]="'owner'"></app-add-user-into-organization-modal>
  }
}

<!-- Modal - confirm deleting owner from org -->
@if (store.selectedOrganization(); as res) {
  @if (store.selectedUser(); as user) {
    @if (store.isModalDeleteOwnerActive()) {
      <app-confirmation-popup
        [titleText]="'USER_MODALS.CONFIRM_DELETE_OWNER' | transloco"
        (ok)="facade.removeOwnerFromOrganization(user.id, res.id)"
        (cancel)="facade.closeModals()"
      ></app-confirmation-popup>
    }
  }
}

@if (settingsStore.isDeleteAccountConfirmationModalActive()) {
  <app-confirmation-popup
    [titleText]="'USER_MODALS.CONFIRM_DELETE_ACCOUNT' | transloco"
    (ok)="settingsFacade.deleteAccount()"
    (cancel)="settingsFacade.closeModals()"
  ></app-confirmation-popup>
}

<!-- Popup - success -->
@if (
  store.isModalDeleteMemberSuccessActive() ||
  store.isModalDeleteOrganizationSuccessActive() ||
  store.isModalDeleteOwnerSuccessActive() ||
  store.isAdminAddOrganizationSuccessPopupActive()
) {
  <app-success-popup [titleText]="'USER_MODALS.SUCCESS' | transloco"></app-success-popup>
}

<!-- Popup - error -->
@if (store.globalErrorKey(); as errorKey) {
  <app-error-popup [titleText]="errorKey | transloco" />
}

<!-- Modal - Add Organization -->
@if (store.isAdminAddOrganizationModalActive()) {
  <app-add-organization-modal></app-add-organization-modal>
}
@if (store.isAdminAddOrganizationSuccessPopupActive()) {
  <app-success-popup [titleText]="'USER_MODALS.SUCCESS' | transloco"></app-success-popup>
}

@if (store.isAdminOrganizationModalActive()) {
  <app-add-user-into-organization-modal [type]="'user'"></app-add-user-into-organization-modal>
}

@if (store.isReservationDetailsModalActive()) {
  <app-reservation-details-modal></app-reservation-details-modal>
}
