<div class="background">
  <app-navbar></app-navbar>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>

@if (store.displayErrorPopup()) {
  <app-error-popup
    [titleText]="store.errorPopupTitle()"
    [bodyText]="store.errorPopupBody()"
    (ok)="store.displayErrorPopup.set(false)"
  />
}

@if (store.isSuccessPopupActive()) {
  <app-success-popup
    [titleText]="store.successPopupTitle()"
    [bodyText]="store.successPopupBody()"
    (ok)="store.isSuccessPopupActive.set(false)"
  />
}

@if (store.isConfirmationPopupActive()) {
  <app-confirmation-popup
    [titleText]="store.confirmationPopupTitle()"
    [bodyText]="store.confirmationPopupBody()"
    (ok)="facade.handleConfirmationOk()"
    (cancel)="facade.handleConfirmationCancel()"
  />
}

<app-cookie-bar></app-cookie-bar>
