<div class="min-h-screen flex items-center justify-center bg-slate-900 text-white">
  <div class="w-96 bg-slate-800 p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-6 text-center">Register</h1>

    <form (ngSubmit)="register()" class="space-y-4">
      <div>
        <label class="block">Name</label>
        <input
          type="text"
          [(ngModel)]="name"
          name="name"
          class="w-full p-2 rounded text-white border border-slate-700"
          required
        />
      </div>
      <div>
        <label class="block mb-1">Email</label>
        <input
          type="text"
          [(ngModel)]="email"
          name="email"
          class="w-full p-2 rounded text-white border border-slate-700"
          required
        />
      </div>

      <div>
        <label class="block mb-1">Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          class="w-full p-2 rounded text-white border border-slate-700"
          required
        />
      </div>

      @if (errorString()) {
        <div class="text-red-500 text-sm mt-1">
          {{ errorString() }}
        </div>
      }

      <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 p-2 rounded font-bold my-3">
        Register
      </button>
    </form>

    @if (registerSuccess()) {
      <div
        class="fixed inset-0 bg-slate-950/70 backdrop-blur-sm flex items-center justify-center z-50"
      >
        <div
          class="bg-emerald-600 text-white p-6 rounded-xl shadow-lg border border-emerald-400 text-center max-w-xs w-full"
        >
          <h2 class="text-xl font-bold tracking-tight mb-2">
            {{ 'REGISTER.SUCCESS_TITLE' | transloco }}
          </h2>
          <p class="text-sm text-emerald-100 mb-4">{{ 'REGISTER.SUCCESS_DESC' | transloco }}</p>
          <button
            (click)="registerSuccess.set(false)"
            class="w-full px-4 py-2 text-sm font-semibold rounded-lg bg-white text-emerald-600 hover:bg-gray-100 transition-colors shadow-md"
          >
            {{ 'REGISTER.CLOSE' | transloco }}
          </button>
        </div>
      </div>
    }

    <div class="">
      <a class="flex justify-center text-gray-200 underline" href="/login">
        Masz już konto? Zaloguj się!</a
      >
    </div>
  </div>
</div>
