.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(76, 193, 223, 0.4);
}

.logo {
  font-weight: bold;
  font-size: 22px;
  color: white;
}
.logo a:hover{
  color:#38bdf8
}

.menu a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: #14b83d;
  border:  rounded;
  border-radius: 15px;
  font-size: 18px;
}

.menu a:hover {
  color: hsl(39, 58%, 55%);
}