<nav
  class="flex justify-between items-center px-10 py-5 bg-gradient-to-r from-black via-gray-900 to-black shadow-lg"
>
  <!-- Logo -->
  <div class="logo font-bold text-[22px] text-white flex items-center">
    <a routerLink="/" class="flex items-center">
      <img
        src="assets/images/logo_scale.jfif"
        alt="Logo"
        class="h-10 mr-2 rounded-full shadow-lg"
      />
      <span>VipSound</span>
    </a>
  </div>

  <!-- Menu -->
  <div class="menu flex items-center space-x-4">
    <a
      routerLink="/calendar"
      class="text-white text-[18px] px-4 py-2 bg-green-500 rounded-lg hover:bg-blue-600 transition-all shadow-md hover:shadow-lg"
    >
      Zarezerwuj salę
    </a>

    <a
      routerLink="/contact"
      class="text-white text-[18px] px-4 py-2 bg-green-500 rounded-lg hover:bg-blue-600 transition-all shadow-md hover:shadow-lg"
    >
      Kontakt
    </a>

    @if (!authService.isLoggedIn()) {
      <a
        routerLink="/login"
        class="mx-2 text-white text-[18px] px-4 py-2 bg-blue-600 rounded-lg hover:bg-blue-700 transition-all shadow-md hover:shadow-lg"
      >
        Login
      </a>

      <a
        routerLink="/register"
        class="text-white text-[18px] px-4 py-2 bg-purple-600 rounded-lg hover:bg-purple-700 transition-all shadow-md hover:shadow-lg"
      >
        Zarejestruj
      </a>
    } @else {
      <a
        class="text-white font-semibold px-4 py-2 bg-blue-600 rounded-lg shadow-md"
        href="/profile"
      >
        Mój profil
      </a>
      <button
        (click)="authService.logout()"
        class="text-white px-4 py-2 bg-red-600 rounded-lg hover:bg-red-700 transition-all shadow-md hover:shadow-lg"
      >
        Wyloguj
      </button>
    }
  </div>
</nav>
