<app-table-toolbar [type]="toolbarType"></app-table-toolbar>
<div
  class="w-full overflow-x-auto rounded-xl border border-slate-700 bg-slate-800/90 shadow-xl backdrop-blur-sm"
>
  <app-table-by-status [status]="store.statusForAdminPage()"></app-table-by-status>
  <app-pagination
    [totalElements]="store.reservationsPage().totalElements"
    [currentPage]="store.reservationsPage().number"
    [pageSize]="store.currentReservationsSize()"
    [totalPages]="store.reservationsPage().totalPages"
    (pageChange)="facade.changeReservationsPage($event)"
    (sizeChange)="facade.changeReservationsSize($event)"
  ></app-pagination>
</div>
